.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.heartBtn:hover {
  color: rgb(240, 50, 50);
  transform: scale(1.2);
  cursor: pointer;
}

.heartBtn:active{
  color: rgb(240, 50, 50);;
  transform: scale(0.9);
}

.camBtn:hover {
  color: rgb(240, 50, 50);
  transform: scale(1.2);
}

.camBtn:active{
  color: rgb(240, 50, 50);
  transform: scale(0.9);
}

.star:hover {
  color: gold;
  transform: scale(1.4);
}

.wishItem:hover{
  transform: scale(1.1);
  font-weight: bold;
}

.wTrash:hover {
  transform: scale(1.2);
}
.wTrash:active {
  transform: scale(0.9);
}
